
p.resizeimage img { width: 100%; }

.container{
  padding-bottom: 85px;
}

.wrapper {
  margin-bottom: 74px;
  padding: 20px 20px 20px 35px;
.row {
    border-bottom: 1px solid #ccc;
    padding: 20px;
    text-align: left;
    word-wrap: break-word;
  }
  .row2{padding: 20px;
  text-align: left;
  word-wrap: break-word;  
  }
}
